.Header {
    height: 40%;
    background-color: white;
}
.quoteBox p {
    margin: 0px;
}
p.Link {
    color: green;
}
p.Ganondorf {
    color: red;
    margin-left: 20px;
}
p.Zelda {
    margin-left: 40px;
    color: blue;
}